body {
  font-family: Arial, sans-serif;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.quiz {
  background: #333;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #4caf50;
}

.pergunta {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

label {
  display: block;
  background: #444;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

label:hover {
  background: #555;
}

/* Esconde os botões de rádio */
input[type="radio"] {
  display: none;
}


input[id$="certo"]:checked ~ label[for$="certo"] {
  background: #4caf50;
}


input[id*="errado"]:checked ~ label[for*="errado"] {
  background: #e74c3c;
}

.rodape {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: #aaa;
}
button {
  display: block;
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #45a049;
}

