body {
  font-family: Arial, sans-serif;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.quiz {
  background: #333;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

h2 {
  margin-bottom: 15px;
  text-align: center;
}

label {
  display: block;
  background: #444;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

/* Esconde o botão do rádio */
input[type="radio"] {
  display: none;
}

/* Quando a resposta certa é escolhida */
input#certo:checked + label {
  background: #4caf50; /* Verde */
}

/* Quando a resposta errada é escolhida */
input#errado1:checked + label,
input#errado2:checked + label {
  background: #e74c3c; /* Vermelho */
}

label:hover {
  background: #555;
}
